<div class="col-12 offset-0 col-sm-12 offset-sm-0 col-md-12 offset-md-0 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
    <div class="card card-body">
        <div class="card-header bg-dark text-center text-white" id="headingOne">
            <h4 class="mb-0">
                <label><i class="fa fa-check-square-o"></i> Merhaba, Talebiniz şirketimize ulaşmıştır.<br/> Talebiniz işleme alınarak en kısa sürede işlemleriniz gerçekleşecektir.<br/> Bilgilerinize sunar, sağlıklı günler dileriz.</label>
            </h4>
        </div>
    </div>
</div>