<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>OYAK Grup Sigorta : @ViewBag.Title</title>
    <link href="~/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/img/oyak.ico">
</head>
<body>
    <header class="container-fluid p-0 ">
        <nav class="navbar navbar-light navbar-expand-md" style="border-radius:2px; border:1px solid rgba(0,0,0,.125)">
            <div class="row">
                <div class="col-12 text-center mt-1">
                    <img src="~/img/oyak_sigorta.png" />
                    <img src="~/img/stv_logo.png" />
                </div>
            </div>
        </nav>
    </header>
    <section class="container-fluid p-0 mt-1">
        @RenderBody()
    </section>
    <div class="container mt-5 mt-sm-1 text-center"><footer>Copyright 2020 OYAK Grup Sigorta ve Reasürans Brokerliği A.Ş.</footer></div>
    <script src="~/lib/jquery.min.js"></script>
    <script src="~/lib/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>